body {
  background-image: url(background.png);
  background-size: 700px;
  background-color: #333;
  color: white;
}
h1 {
  text-align: center;
}
h2 {
  background-color: #222;
  padding: 20px;
  width: fit-content;
  text-align: center;
  border-radius: 10px;
}
.box {
  background-color: #bbb;
  padding: 10px;
  margin:10px;
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 10px;
  position: relative;
}

.preview {
  width: 400px;
  border-radius: 10px;
}
.box:hover {
  animation-name: preview-hover-animation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.preview:hover {
  animation-name: preview-hover-animation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes preview-hover-animation {
  0%{filter: brightness(100%);}
  100%{filter:brightness(95%);}
}
.preview-text {
  bottom:0%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  position: absolute;
  width:100%;
  height: 20%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:200%;
}
.box:hover .preview-text {
  filter: brightness(100%);
  background-color: rgba(20, 20, 20, 0.7);
  opacity: 1;
}
.box:hover .preview {
  animation-name: image-shrink;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes image-shrink {
  0%{width: 400px;}
  100%{width: 390px; margin: 5px;}
}
