body {
  background-image: url(background.png);
  background-size: 700px;
  background-color: #333;
  color: white;
}
h1 {
  text-align: center;
}
h2 {
  background-color: #222;
  padding: 20px;
  width: fit-content;
  text-align: center;
  border-radius: 10px;
}
.box {
  background-color: #bbb;
  padding: 10px;
  margin:10px;
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 10px;
  position: relative;
  transition: filter 0.3s ease, box-shadow 0.3s ease;
}

.preview {
  width: 400px;
  border-radius: 10px;
  transition: width 0.3s ease, margin 0.3s ease, filter 0.3s ease;
}
.box:hover {
  filter: brightness(90%);
  box-shadow: -10px 5px 5px rgba(0, 0, 0, 0.491);
}

.preview-text {
  bottom:0%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  position: absolute;
  width:100%;
  height: 20%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:200%;
  transition: opacity 0.3s ease;
  background-color: #141414;
}
.box:hover .preview-text {
  opacity: 0.7;
  filter: brightness(100%);
}
.box:hover .preview {
  width: 390px;
  margin: 5px;
}
